<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace：绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.chun.myspringboot.mapper.BookMapper">

    <!--查看所有书信息-->
    <select id="queryAllBook" resultType="Book">
        select * from studywords.book
    </select>
    <!--根据ID查询一条书-->
    <select id="queryBookById" resultType="Book">
        select * from studywords.book where bookId=#{bookId}
    </select>
    <!--添加一本书-->
    <insert id="addBook" parameterType="Book">
        insert into studywords.book(bookName, bookUser,description,content) values (#{bookName},#{bookUser},#{description},#{content});
    </insert>
    <!--删除一本书-->
    <delete id="deleteBook" parameterType="Integer">
        delete from studywords.book where bookId=#{bookId}
    </delete>
    <!--修改一本书-->
    <update id="updateBook" parameterType="Book" >
        update studywords.book set bookName=#{bookName},bookUser=#{bookUser},description=#{description},content=#{content}
        where bookId=#{bookId}
    </update>


</mapper>