<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace：绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.chun.myspringboot.mapper.ListenMapper">

    <!--查看所有听力信息-->
    <select id="queryAllListen" resultType="Listen">
        select * from studywords.listen
    </select>
    <!--根据ID查询一条听力-->
    <select id="queryListenById" resultType="Listen">
        select * from studywords.listen where listenId=#{listenId}
    </select>
    <!--添加一条听力-->
    <insert id="addListen" parameterType="Listen">
        insert into studywords.listen(listenName,grade) values (#{listenName},#{grade},#{content});
    </insert>
    <!--删除一条听力-->
    <delete id="deleteListen" parameterType="Integer">
        delete from studywords.listen where listenId=#{listenId}
    </delete>
    <!--修改一条听力-->
    <update id="updateListen" parameterType="Listen" >
        update studywords.listen set listenName=#{listenName},grade=#{grade},content=#{content}
        where listenId=#{listenId}
    </update>


</mapper>